@import url("./auto-layout.css");
@import url("./components/table.css");

:root {
	color-scheme: light;

	--font-header: "Poppins";
	--font-body: "Inter";
	--font-code: "JetBrains Mono";
}

@media print {
    :root {
        print-color-adjust: exact; 
    }
}

nav {
	position: static;
	top: 0px;
	width: 100%;
	border-bottom: 1px solid black;
}

body,
header, section, footer {
	margin: 0px;
	width: 100%;
	box-sizing: border-box;
	background: light-dark(white, black);
	color: light-dark(black, white);
}

header, section, footer {
	padding: 1rem 10%;
}

body {
	gap: 32px;
	font-family: var(--font-body), sans-serif;
	font-weight: normal;
}

footer {
	color-scheme: dark;
	width: 100%;
}

hr {
	display: block;
	width: 70%;
	height: 0px;
	border: none;
	border-top: 1px solid black;
}

ol.no-mark,
ul.no-mark {
	list-style: none;
	padding-left: 0;
}

div.divider,
div.divider-h {
	display: block;
	width: 100%;
	height: 2px;
	background: #C0C0C0;
}

[innertext="--font-header"]::after {
	content: var(--font-header);
	font-style: italic;
}